# Dependencies
node_modules/

# Environment Variables
.env
.env.local
*.local

# Build Output
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Coverage
coverage/

# VS Code
.vscode/*
!.vscode/extensions.json

# IDE
.idea/

# OS Files
.DS_Store
Thumbs.db

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?